

.nodeframe
{
	margin-left:10px;
	display:inline;
}

.doneframe
{
	margin-left:10px;
	display:inline;
	border:inset;
}
.Key
{
	border:outset;
	font-size:0.8em;
	margin-left:8px;
	display:inline;
}

.Number
{
	border:single;
	font-size:0.6em;
	color:navy;
	margin-left:6px;
	display:inline;
	vertical-align:top;
}

.MainAction
{
	display:block;
	font-size:9pt;
	color:black;
}

.SubAction
{
	font-size:8pt;
	color:navy;
	display:inline;
}

.source
{
	font-size:0.8em;
	color:black;
	display:block;
}

.sourceline
{
	font-size:10pt;
	color:black;
	text-align:left;
}

table
{
	text-align:center;
	font-size:8px;
	vertical-align:top;
	align:center;
	border:0;
	display:inline;
}
td
{
	text-align:center;
	font-size:8px;
	vertical-align:top;
	align:center;
	border:0;
}
tr
{
	text-align:center;
	font-size:8px;
	vertical-align:top;
	align:center;
	border:0;
}

.Step
{
	display:inline;
	font-size:0.9em;
	color:black;
}

.SubNest
{
	font-size:0.8em;
	display:inline;
	color:white;
}

.Intro
{
	border:outset;
	font-size:12pt;
	margin-left:20px;
	display:block;
}

